[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywikibot = "*"
mwparserfromhell = ">=0.5.0"
requests = "*"
requests-cache = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
